assets/dist/
static/assets/dist/
static/fonts
static/webfonts
public/
node_modules/
resources/_gen/
data/manifest.json
.cache
.parcel-cache
.npm-packages
.vscode
.hugo_build.lock
frontmatter.json
.frontmatter/