p,
ul,
ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 2em;
}

h1 {
  font-family: var(--font-alternate);
  font-size: var(--font-size-large);
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-size: var(--font-size-medium);
  font-weight: 400;
}

h2::after {
  content: "";
  display: block;
  border-top: 1px dashed;
  color: var(--color-main-fg-soft);
}

h3 {
  font-size: var(--font-size-medium);
  font-weight: 400;
}

h4,
h5 {
  font-size: var(--font-size-base);
}

ul {
  list-style: circle;
}

blockquote {
  font-style: italic;
}

blockquote,
ul,
ol {
  padding-inline-start: 1em;
}

li > ul {
  margin: 0;
}

/* stylelint-disable-next-line selector-id-pattern */
#TableOfContents ul {
  margin: 0;
}

ol.breadcrumbs {
  list-style: none;
  margin: 2rem;
  text-align: center;

  > li {
    display: inline;
  }
}

ul.nobullets {
  list-style: none;
  padding-left: 0.5rem;
}

a,
a:hover,
a:active,
:any-link {
  color: var(--color-link-fg);
  outline: none;
}

.nowrap {
  white-space: nowrap;
}

:any-link:hover {
  background-color: var(--color-link-hover-bg);
}

.katex {
  font-size: inherit !important;
  font-weight: inherit !important;
}

.course-list {
  display: block;

  a {
    min-height: 150px;
    display: flex;
  }

  a,
  a:hover,
  a:active,
  :any-link {
    text-decoration: none;
    color: inherit;
  }
}

.course-list > a > div {
  align-content: center;
  display: grid;
}

// .course-list > a:nth-of-type(odd) {
//   background-color: lightgrey;
// }

.course-img {
  flex-shrink: 0;
  font-weight: 100;
  text-decoration: none;
  color: black;
  width: 140px;
  margin-right: 1em;
}

.course-img > img {
  margin-left: auto;
  margin-right: auto;
}

.member-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: space-evenly;
  padding: 0;
  text-align: center;
  width: 100%;
  list-style: none;
}

.event-head {
  padding-left: 3ex;
  font-size: var(--font-size-small);
  list-style: "– ";
}

.member-list a:hover div.member-name {
  background-color: var(--color-link-hover-bg);
}

.member-photo > img {
  width: 100%;
}

.member-photo {
  border-radius: 1em;
  height: 150px;
  overflow-y: hidden;
  margin-bottom: 5px;
}

.member-photo-empty {
  background-color: var(--color-accent);
  padding-top: 1rem;
}

.member-position {
  color: var(--color-main-fg-soft);
  font-size: var(--font-size-small);
}
