.member-page-top {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template:
    "photo"   auto
    "name" auto
    "position" auto
    "coordinates" auto
    / 1fr;
  text-align: center;
  align-items: start;

  @media (min-width: $medium) {
    grid-template:
      "photo name" auto
      "photo position" auto
      "photo   coordinates" auto
      / 1fr 1.618fr;
  }
}

.member-page-top > .position {
  grid-area: position;
  margin: 0 auto;

  @media (min-width: $medium) {
    margin: 0;
    text-align: left;
  }
}

.member-page-top > * > p {
  margin: 1rem auto;
  max-width: 20em;

  @media (min-width: $medium) {
    margin: 1rem 0;
    text-align: left;
    max-width: none;
  }
}

.member-page-top > * > *:first-child {
  margin-top: 0;
}

.member-page-top > * > *:last-child {
  margin-bottom: 0;
}

.member-page-top > .name {
  grid-area: name;
  margin: 0 auto;

  @media (min-width: $medium) {
    text-align: left;
    margin: 0;
  }
}

.member-page-top > .coordinates {
  grid-area: coordinates;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 0.2rem;
  list-style: none;

  @media (min-width: $medium) {
    align-items: start;
    text-align: left;
  }
}

.member-page-top > .photo-container {
  grid-area: photo;
  display: grid;
  justify-content: center;

  > .photo {
    border-radius: 145px;
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
    overflow: hidden;

    @media (min-width: $medium) {
      max-width: 100%;
    }
  }
}

.member-page-top img {
  display: block;
  max-width: 100%;
}

@media (min-width: $wide) {
  .profiles {
    float: right;
    padding-left: 3rem;
    text-align: left;
    background-color: var(--color-main-bg);
  }
}

.profile img {
  filter: grayscale(100%);
}

.profiles > ul {
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  column-gap: 1rem;

  > li {
    flex-shrink: 0;
  }

  @media (min-width: $wide) {
    flex-direction: column;
  }
}
