@media print {
  :root {
    --font-size-base: 11pt;
  }

  body {
    display: block;
  }

  .header-container,
  .footer-container {
    display: none;
  }

  main {
    padding: 0;
    margin: 0;
  }
}
