$small: 450px;
$medium: 648px;
$wide: 768px;

:root {
  /* colors */
  --color-accent: hsl(199deg 100% 28%);
  --color-main-bg: rgb(255 255 255);
  --color-main-fg: rgb(0 0 0);
  --color-main-fg-soft: hsl(0deg 0% 50%);
  --color-footer-bg: hsl(0deg 0% 78%);
  --color-footer-fg: var(--color-main-fg);
  --color-navbar-bg: var(--color-accent);
  --color-navbar-bg-hover: hsl(199deg 100% 35%);
  --color-navbar-fg: rgb(255 255 255);
  --color-link-fg: hsl(199deg 100% 28%);
  --color-link-hover-bg: hsl(199deg 100% 90%);

  // --color-link-fg: rgb(168 17 0);
  // --color-link-hover-bg: rgb(238 213 210);

  /* font sizes */
  --font-size-base: 133.33%;
  --font-size-medium: 1.272rem;
  --font-size-large: 1.618rem;
  --font-size-small: 0.786rem;

  /* font families */
  --font-base: serif;
  --font-headings: var(--font-base);
  --font-alternate: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;

  @media (prefers-color-scheme: dark) {
    --color-main-bg: rgb(0 0 0);
    --color-main-fg: rgb(255 255 255);
    --color-main-fg-soft: hsl(0deg 0% 80%);
    --color-footer-bg: hsl(0 0% 20%);
    --color-footer-fg: rgb(255 255 255);
    --color-link-fg: hsl(199deg 100% 80%);
    --color-link-hover-bg: hsl(199deg 100% 14%);
  }
}
