html {
  background-color: var(--color-main-bg);
  color: var(--color-main-fg);
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  overflow-y: scroll;
}

body {
  display: grid;
  grid-template:
    "header-container" 6rem
    "main-container"   1fr
    "footer-container" 6rem / 1fr;
  min-height: 100vh;
}

.header-container {
  grid-area: header-container;
  background-color: var(--color-navbar-bg);
  color: var(--color-navbar-fg);
}

.main-container {
  grid-area: main-container;
}

.footer-container {
  grid-area: footer-container;
  background-color: var(--color-footer-bg);
  color: var(--color-footer-fg);
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);

  :any-link {
    color: inherit;
  }
}

header,
main,
footer {
  width: MIN(100%, 40rem);
  margin: 0 auto;
  padding: 1.25rem;
}

header {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: right;
}
