{{ define "main" }}
  {{ $de := eq .Params.lang "de" }}
  <div class="mt-8">
    <h1 class="mt-0 inline-block">{{ .Title }}</h1>
    {{- with .Params.semester -}}
      <b class="block">{{ . }}</b>
    {{ end -}}
  </div>
  <ul class="list-['-_'] text-xs">
    {{ if .Params.kürzel }}
      <li>
        {{ if $de }}Modulkürzel:{{ else }}Course codes:{{ end }}
        {{ range $i, $e := .Params.kürzel }}
          {{ if $i }}·{{ end }}{{ $e.modul -}}→{{- $e.veranstaltung -}}
        {{- end }}
      </li>
    {{ end }}
    {{- with .Params.links }}
      <li>
        {{ if $de }}Externe Links:{{ else }}External links:{{ end }}
        <div class="inline-flex">
          {{- range . -}}
            <a href="{{ .url }}" class="inline-block px-1 not-first:border-l-2"
              >{{ .name | $.RenderString }}</a
            >
          {{- end -}}
        </div>
      </li>
    {{ end -}}
    {{- with .Params.qis }}
      <li>
        {{ if $de }}Externe Links:{{ else }}External links:{{ end }}
        <a href="{{ . }}">qis</a>
      </li>
    {{ end -}}
  </ul>
  {{ if or .Params.show_author_date_info .Params.estimated_reading_time }}
    <p>
      {{ if .Params.show_author_date_info }}
        Written
        {{ with .Params.author }}
          by
          {{ . | $.RenderString }}
        {{ end }}{{ with .PublishDate.Format "January 2006" }}
          in
          {{ . }}
        {{ end }},
        {{ with .Lastmod.Format "January 2006" }}
          last modified in
          {{ . }}
        {{ end }}.
      {{ end }}
      {{ if .Params.estimated_reading_time }}
        <br />
        Estimated reading time: {{ .ReadingTime }} minutes.
      {{ end }}
    </p>
  {{ end }}

  {{ if .Params.toc }}
    <h3>{{ if $de }}Übersicht{{ else }}Overview{{ end }}</h3>
    {{ .TableOfContents }}
  {{ end }}

  {{ .Content }}
{{ end }}
