<div class="mx-auto mt-7 grid grid-cols-1 gap-10">
  {{- range .courses -}}
    <a
      href="{{ .url }}"
      class="group hover:bg-goethe-50 flex w-full flex-row place-items-center justify-start gap-2 overflow-hidden rounded-3xl no-underline transition duration-500"
    >
      <div
        class="{{ if .img_bg_white }}
          darkkk:bg-white
        {{ end }} flex aspect-video w-[40%] flex-none place-items-center justify-center overflow-hidden rounded-3xl"
      >
        {{ if .img -}}
          <img class="h-full max-w-full" src="{{ .img }}" />
        {{- else -}}
          <img src="/images/dark-classroom-small.jpg" />
        {{- end -}}
      </div>
      <div class="px-3">
        <div class="text-goethe-600 font-bold">
          {{ .name | markdownify }}
        </div>
        <div class="text-sm font-light text-slate-600">
          {{ .desc | markdownify }}
        </div>
      </div>
    </a>
  {{- end -}}
</div>
