{{- .Scratch.Set "css" "http://localhost:1314/assets/dist/bundle.css" -}}
{{- .Scratch.Set "js" "http://localhost:1314/assets/dist/bundle.js" -}}
{{- if not .Site.IsServer -}}
{{ .Scratch.Set "css" (index .Site.Data.manifest "main.css") -}}
{{- .Scratch.Set "js" (index .Site.Data.manifest "main.js") -}}
{{- end -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }} &mdash; {{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="description" content="{{if .Description}}{{.Description}}{{else}}{{ $.Site.Params.description }}{{end}}">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {{ $sass := resources.Get "scss/main.scss" -}}
  {{- $style := $sass | resources.ToCSS (dict "targetPath" "assets/css/style.css" "outputStyle" "compressed") | resources.Fingerprint "sha512" -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  <!-- It's also Possible to inline the CSS:
    <style>{{ $style.Content | safeCSS }}</style>
  -->
  {{ $css := .Scratch.Get "css" -}}
  <link rel="stylesheet" href="{{ $css }}">
  {{ $js := .Scratch.Get "js" -}}
  <script async defer src="{{ $js }}"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="navbar">
        <nav class="site-links">
          <a class="menu" href="https://www.uni-frankfurt.de">
            <img alt="Goethe-Universität Frankfurt" class="gu-logo" src="/images/Goethe-Logo-weiss.svg">
            <img alt="Goethe-Universität Frankfurt" class="goethe" src="/images/Goethe-weiss.svg">
          </a>
        <a class="menu tcs-logo" href="/">
          <div class="tcs-logo-long">
            Research Group for<br />
            <b>Theoretical Computer Science</b>
            <!--div class="nowrap title-cs">CS</div>
            <div class="nowrap title-theory"><span class="dash">&mdash;</span>Theory<span class="dash">&mdash;</span></div-->
          </div>
          <div class="tcs-logo-short">
            <b>TCS</b> Group
            <!--div class="nowrap title-cs">CS</div>
            <div class="nowrap title-theory"><span class="dash">&mdash;</span>Theory<span class="dash">&mdash;</span></div-->
          </div>
        </a>
        </nav>
        <nav class="page-links">
          <a class="menu item" href="/research/">
            <i class="fas fa-flask"></i>
            <div class="item-desc">Research</div>
          </a>
          <a class="menu item" href="/teaching/">
            <i class="fas fa-chalkboard-teacher"></i>
            <div class="item-desc">Teaching</div>
          </a>
        </nav>
    </header>
    <div class="container {{ .Layout }}">
      <main>
