b,
strong {
  font-weight: bold;
}

.link,
a {
  text-decoration: underline;
}

p,
ul,
ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 2rem;
}

h1 {
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 1.2;
}

h2 {
  font-weight: 400;
  font-size: var(--font-size-medium);
}

h2::after {
  display: block;
  border-top: 1px dashed;
  content: "";
  color: var(--color-main-fg-soft);
}

h3 {
  font-weight: 400;
  font-size: var(--font-size-medium);
}

h4,
h5 {
  font-size: var(--font-size-base);
}

ul {
  list-style: circle;
}

blockquote {
  font-style: italic;
}

blockquote,
ul,
ol {
  padding-inline-start: 1em;
}

li > ul {
  margin: 0;
}

/* stylelint-disable-next-line selector-id-pattern */
#TableOfContents ul {
  margin: 0;
}

ol.breadcrumbs {
  margin: 2rem;
  list-style: none;
  text-align: center;
}

ol.breadcrumbs > li {
  display: inline;
}

ul.nobullets {
  padding-left: 0.5rem;
  list-style: none;
}

a:not(.plain),
a:hover:not(.plain),
a:active:not(.plain),
:any-link:not(.plain),
.link:not(.plain) {
  outline: none;
  color: var(--color-link-fg);
}

.nowrap {
  white-space: nowrap;
}

.link:hover:not(.plain),
:any-link:hover:not(.plain) {
  background-color: var(--color-link-hover-bg);
}

.katex {
  font-weight: inherit !important;
  font-size: inherit !important;
}

.course-list {
  display: block;
}

.course-list a {
  display: flex;
  min-height: 150px;
}

.course-list a,
.course-list a:hover,
.course-list a:active,
.course-list :any-link {
  color: inherit;
  text-decoration: none;
}

.course-list > a > div {
  display: grid;
  align-content: center;
}

/* .course-list > a:nth-of-type(odd) {
  background-color: lightgrey;
} */

.course-img {
  flex-shrink: 0;
  margin-right: 1em;
  width: 140px;
  color: black;
  font-weight: 100;
  text-decoration: none;
}

.course-img > img {
  margin-right: auto;
  margin-left: auto;
}

.member-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: space-evenly;
  gap: 30px;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.event-head {
  padding-left: 3ex;
  font-size: var(--font-size-small);
  list-style: "– ";
}

.member-list a:hover div.member-name {
  background-color: var(--color-link-hover-bg);
}

.member-photo > img {
  width: 100%;
}

.member-photo {
  margin-bottom: 5px;
  border-radius: 1em;
  height: 150px;
  overflow-y: hidden;
}

.member-photo-empty {
  background-color: var(--color-accent);
  padding-top: 1rem;
}

.member-position {
  color: var(--color-main-fg-soft);
  font-size: var(--font-size-small);
}
