.member-page-top {
  display: grid;
  grid-template:
    "photo" auto
    "name" auto
    "position" auto
    "coordinates" auto
    / 1fr;
  align-items: start;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: $medium) {
  .member-page-top {
    grid-template:
      "photo name" auto
      "photo position" auto
      "photo   coordinates" auto
      / 1fr 1.618fr;
  }
}

.member-page-top > .position {
  grid-area: position;
  margin: 0 auto;
}

@media (min-width: $medium) {
  .member-page-top > .position {
    margin: 0;
    text-align: left;
  }
}

.member-page-top > * > p {
  margin: 1rem auto;
  max-width: 20em;
}

@media (min-width: $medium) {
  .member-page-top > * > p {
    margin: 1rem 0;
    max-width: none;
    text-align: left;
  }
}

.member-page-top > * > *:first-child {
  margin-top: 0;
}

.member-page-top > * > *:last-child {
  margin-bottom: 0;
}

.member-page-top > .name {
  grid-area: name;
  margin: 0 auto;
}

@media (min-width: $medium) {
  .member-page-top > .name {
    margin: 0;
    text-align: left;
  }
}

.member-page-top > .coordinates {
  display: flex;
  grid-area: coordinates;
  flex-direction: column;
  gap: 0.2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $medium) {
  .member-page-top > .coordinates {
    align-items: start;
    text-align: left;
  }
}

.member-page-top > .photo-container {
  display: grid;
  grid-area: photo;
  justify-content: center;
}

.member-page-top > .photo-container > .photo {
  margin-right: auto;
  margin-left: auto;
  border-radius: 145px;
  max-width: 290px;
  overflow: hidden;
}

@media (min-width: $medium) {
  .member-page-top > .photo-container > .photo {
    max-width: 100%;
  }
}

.member-page-top img {
  display: block;
  max-width: 100%;
}

@media (min-width: $wide) {
  .profiles {
    float: right;
    background-color: var(--color-main-bg);
    padding-left: 3rem;
    text-align: left;
  }
}

.profile img {
  filter: grayscale(100%);
}

.profiles > ul {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  font-size: smaller;
}

.profiles > ul > li {
  flex-shrink: 0;
}

@media (min-width: $wide) {
  .profiles > ul {
    flex-direction: column;
  }
}
