header,
footer {
  font-weight: 300;
  font-family: var(--font-alternate);
}

header :any-link:not(.plain) {
  color: inherit;
  text-decoration: none;
}

header :any-link:hover:not(.plain) {
  background-color: var(--color-navbar-bg-hover);
}

header nav {
  display: flex;
  height: 3.5rem;
}

header .goethe > img {
  height: 100%;
}

header .tcs-logo {
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

header .item-desc {
  display: none;
  font-size: var(--font-size-small);
}

header .fas {
  font-size: var(--font-size-medium);
}

header .tcs-logo-long {
  display: none;
}

@media (min-width: $medium) {
  header .fas {
    font-size: var(--font-size-medium);
  }

  header .tcs-logo-short {
    display: none;
  }

  header .tcs-logo-long {
    display: block;
  }

  header .item-desc {
    display: block;
  }
}
