$small: 640px;

:root {
  /* colors */
  --color-goethe-blue: rgb(0 97 143);
  --color-goethe-light-blue: rgb(72 169 218);
  --color-accent: var(--color-goethe-blue);
  --color-main-bg: rgb(255 255 255);
  --color-main-fg: rgb(0 0 0);
  --color-main-fg-soft: hsl(0deg 0% 50%);
  --color-footer-bg: #D5E5EC;
  --color-footer-fg: var(--color-main-fg);
  --color-navbar-bg: var(--color-accent);
  --color-navbar-bg-hover: hsl(199deg 100% 35%);
  --color-navbar-fg: rgb(255 255 255);
  --color-link-fg: hsl(199deg 100% 28%);
  --color-link-hover-bg: hsl(199deg 100% 90%);

  /* font sizes */
  --font-size-base: 100%;
  --font-size-medium: 1.272rem;
  --font-size-large: 1.618rem;
  --font-size-small: 0.786rem;
}

html {
  font-size: var(--font-size-base);
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bg: rgb(0 0 0);
    --color-main-fg: rgb(255 255 255);
    --color-main-fg-soft: hsl(0deg 0% 80%);
    --color-footer-bg: rgb(20, 29, 36);
    --color-footer-fg: rgb(255 255 255);
    --color-link-fg: var(--color-goethe-light-blue);
    --color-link-hover-bg: hsl(199deg 100% 14%);
  }
}
