html {
  background-color: var(--color-main-bg);
  overflow-y: scroll;
  color: var(--color-main-fg);
  font-size: var(--font-size-base);
  font-family: var(--font-base);
}

body {
  display: grid;
  grid-template:
    "header-container" min-content
    "main-container" 1fr
    "footer-container" max-content / 1fr;
  min-height: 100vh;
}

.header-container {
  grid-area: header-container;
  background-color: var(--color-navbar-bg);
  color: var(--color-navbar-fg);
}

.main-container {
  grid-area: main-container;
}

.footer-container {
  display: flex;
  grid-area: footer-container;
  align-items: center;
  background-color: var(--color-footer-bg);
  min-height: 6rem;
  color: var(--color-footer-fg);
  font-size: var(--font-size-small);
}

.footer-container :any-link {
  color: inherit;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 1.25rem;
  width: min(100%, 40rem);
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  text-align: right;
}
