
html {
  background-color: var(--body-bg);
  color: var(--content-fg);
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings-font);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--largest-font-size);
  font-weight: 800;
}

h2 {
  font-size: var(--largest-font-size);
  font-weight: 400;
  padding-top: 2em;
}

h3 {
  font-size: var(--larger-font-size);
  font-weight: 400;
  padding-top: 1.5em;
}

h4,
h5 {
  font-size: var(--base-font-size);
  padding-top: 1.5em;
}

ul {
  list-style: circle;
}

ol.breadcrumbs {
  list-style: none;
  margin: 2rem;
  text-align: center;

  > li {
    display: inline;
  }
}

ul.nobullets {
  list-style: none;
  padding-left: 0.5rem;
}

a,
a:hover,
a:active,
:any-link {
  color: var(--link-fg);
  outline: none;
}

.nowrap {
  white-space: nowrap;
}

:any-link:hover {
  background-color: var(--link-bg-hover);
}

.footer {
  background-color: var(--content-bg);
  font-size: var(--small-font-size);

  :any-link {
    color: inherit;
  }
}

.katex {
  font-size: inherit;
  font-weight: inherit;
}

.course-list {
  display: block;
}
.course-list > a {
  height: 150px;
  margin: 1em;
  display: flex;
  padding: 0;
  margin: 0;
}

.course-list > a > div {
  padding: 0;
  margin: 0;
  align-content: center;
  display: grid;
}

// .course-list > a:nth-of-type(odd) {
//   background-color: lightgrey;
// }

.course-img {
  // font-size: 40px;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  width: 140px;
}

.course-img > img {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.course-list > a {
  text-decoration: none;
  color: inherit;
}

.member-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: left;
  margin: 0;
  padding: 2em 1em;
  text-align: center;
  width: 100%;
  list-style: none;
}

.member-list a:hover div.member-name {
  background-color: var(--link-bg-hover);
}

.member-photo > img {
  width: 100%;
}

.member-photo {
  border-radius: 1em;
  height: 150px;
  box-sizing: border-box;
  overflow-y: hidden;
  margin-bottom: 5px;
}

.member-photo-empty {
  background-color: var(--gu-base-color);
  padding-top: 1rem;
}

.member-position {
  color: gray;
  font-size: smaller;
}
