$small: 450px;
$medium: 600px;
$wide: 768px;

// @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+SC:wght@400;700&display=swap');

:root {
  /* colors */
  --gu-base-color: rgb(0, 97, 143);
  --body-bg: rgb(240, 247, 238);
  --content-bg: rgb(256, 256, 256);
  --content-fg: rgb(0, 0, 0);
  --navbar-bg-gradient-start: var(--gu-base-color);
  // --navbar-bg-gradient-end: rgb(50, 126, 187);
  --navbar-bg-hover: rgb(50, 126, 187);
  --navbar-fg: rgb(256, 256, 256);
  --link-fg: rgb(168, 17, 0);
  --link-bg-hover: rgb(238, 213, 210);

  /* --gu-logo-color: rgb(0, 94, 168); */

  /* font sizes */
  --base-font-size: 21px;
  --largest-font-size: 2.3rem;
  --larger-font-size: 1.4rem;
  --small-font-size: 0.8rem;

  /* font families */
  --logo-font: 'Cormorant SC', serif;
  --sidebar-font: 'Cormorant Garamond', serif;
  --headings-font: 'Cormorant Garamond', serif;
  --base-font: 'Cormorant Garamond', serif;
}

@import 'fonts';
@import 'custom';
@import 'structure';
@import 'navbar';
@import 'member';
@import 'print';
