.navbar {
  align-content: start;
  background-color: var(--navbar-bg-gradient-start);
  color: var(--navbar-fg);
  font-family: var(--sidebar-font);
  overflow: hidden;
  // background-image:
  //  linear-gradient(
  //    var(--navbar-bg-gradient-start),
  //    var(--navbar-bg-gradient-end)
  //  );

  :any-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      background-color: var(--navbar-bg-hover);
    }
  }

  img.GU-logo {
    display: none;
    height: auto;
    max-height: 66px;
    max-width: 122px;
    width: 100%;
  }

  img.Goethe {
    display: block;
    height: auto;
    width: 50px;
  }

  .menu {
    align-content: start;
    box-sizing: border-box;
    display: grid;
    height: 100%;
    justify-content: center;
    margin: 0;
    max-width: 200px;
    min-height: 50px;
    min-width: 50px;
    padding: 10px 12px;
    text-align: center;
    width: 100%;

    &.separator {
      min-height: 0;
      min-width: 0;
    }
  }

  .TCS {
    align-content: end;
    box-sizing: border-box;
    display: grid;
    font-family: var(--logo-font);
  }

  .title-cs {
    line-height: 0.5rem;
  }

  .title-theory {
    font-size: var(--base-font-size);
  }

  .item {
    align-content: center;
  }

  .item-desc {
    display: none;
  }

  @media (min-width: $small) {
    //img.GU-logo {
      //display: block;
    //}

    //img.Goethe {
      //display: none;
    //}

    .TCS {
      align-content: center;
    }

    .title-theory {
      font-size: var(--largest-font-size);
      line-height: 1.2rem;
    }
  }

  @media (min-width: $wide) {
    .fas {
      font-size: var(--larger-font-size);
    }

    .item-desc {
      display: block;
    }

    .TCS {
      box-sizing: border-box;
      height: 100%;
    }

    // .dash {
    //   display: inline;
    // }
  }
}
