<div class="mx-auto mt-7 grid w-full max-w-max gap-7 sm:grid-cols-2">
  {{ range $.Site.Data.members }}
    {{- if not .former -}}
      <a
        class="{{ if .url }}
          hover:bg-goethe-100 
        {{ end }} {{ if .hiring }}
          bg-red-100 hover:bg-red-200 
        {{ else }}
          bg-goethe-50
        {{ end }} group flex flex-row place-items-center justify-start gap-2 overflow-hidden rounded-3xl no-underline transition duration-500"
        {{ if .url }}href="{{ .url }}"{{ end }}
      >
        <div
          class="{{ if not .photo -}}
            {{ if .hiring }}bg-red-800{{ else }}bg-goethe-500{{ end }}
          {{ end }} flex aspect-square w-20 flex-none place-items-center justify-center overflow-hidden rounded-3xl"
        >
          <img
            {{ if .photo }}
              src="{{ .photo }}"
            {{ else }}
              src="/images/Goethe-weiss.svg" class="w-[85%]"
            {{ end }}
            alt="Photo"
          />
        </div>
        <div class="pr-3">
          <div
            class="{{ if .hiring }}
              text-red-900 
            {{ end }} font-bold text-goethe-600 "
          >
            {{ .name }}
          </div>
          <div class="text-sm font-light text-slate-600">
            {{ .position }}
          </div>
        </div>
      </a>
    {{- end -}}
  {{ end }}
</div>
