<ul class="-m-2 p-0 sm:m-0">
  {{- $number := 0 -}}
  {{ range $week := $.Page.Params.schedule -}}
    {{- $number = add $number 1 -}}
    {{- if isset $week "number" -}}
      {{- $number = $week.number -}}
    {{- end -}}
    {{- $currentWeek := 0 -}}
    {{- $weekstart := 0 -}}
    {{- $weekend := 0 -}}
    {{- if $week.weekstart -}}
      {{- $weekstart = $week.weekstart | time.AsTime -}}
      {{- $weekend = add $weekstart.Unix 388800 | time.AsTime -}}
      {{- $currentWeek = and (le $weekstart.Unix now.Unix) (ge (add $weekstart.Unix 604800) now.Unix) -}}
    {{- end -}}
    <li
      class="{{ if $currentWeek }}
        border-indigo-500 border-4
      {{ end }} m-0 p-4 list-none bg-base-200 odd:bg-base-300"
    >
      <!-- <div class="place-self-start w-full bg-red-100 flex flex-nowrap">
    <div class="font-mono shrink-0 h-12 w-12 font-bold px-1 flex place-content-center place-items-center bg-black text-white">
      <div>{{ $number }}</div>
    </div>
    <div class="font-bold p-2">{{ $week.name }}</div>
  </div> -->

      {{- if $weekstart -}}
        <span class="block text-xs text-primary">
          {{- if eq $.Page.Params.lang "de" -}}
            {{ $weekstart.Day }}.
            {{ index $.Site.Data.monat (printf "%d" $weekstart.Month) }}
            &ndash; {{ $weekend.Day }}.
            {{ index $.Site.Data.monat (printf "%d" $weekend.Month) }}
          {{- else -}}
            {{- $weekstart | time.Format "2. January" }}
            &ndash;
            {{ (add $weekstart.Unix 388800) | time.AsTime | time.Format "2. January" }}
          {{- end -}}
        </span>
      {{- end -}}
      <span
        class="aspect-square w-min content-center bg-black px-1 text-white"
        >{{ $number }}</span
      >
      <strong>{{ $week.title }}{{ if $week.subtitle }}:{{ end }}</strong>
      {{ with $week.subtitle }}{{ . }}{{ end }}

      {{- with $week.links -}}
        <div class="pt-2">
          {{- range $index,$link := . -}}
            {{- if $index }}
              <span class="px-1 font-bold">·</span>
            {{ end -}}{{- $link | markdownify -}}
          {{- end -}}
        </div>
      {{- end -}}
    </li>
  {{ end }}
</ul>
