<ul class="border-4 border-indigo-500 bg-gray-200 p-0 m-0 dark:bg-gray-800">
  {{ range $number,$week := $.Page.Params.schedule -}}
    {{- $weekstart := $week.weekstart | time.AsTime -}}
    {{- $weekend := add ($week.weekstart | time.AsTime).Unix 388800 | time.AsTime -}}
    {{- $currentWeek := and (le $weekstart.Unix now.Unix) (ge (add $weekstart.Unix 604800) now.Unix) -}}
    <li class="{{ if $currentWeek }}bg-yellow-500/20 py-10{{ end }} m-0 list-none p-3">
        {{ $number }}. <strong>{{ $week.name }}</strong>
        <span class="font-sans text-xs text-gray-500">
            {{- if eq $.Page.Params.lang "de" -}}
            {{ $weekstart.Day }}.
            {{ index $.Site.Data.monat (printf "%d" $weekstart.Month) -}}
            - {{ $weekend.Day }}.
            {{ index $.Site.Data.monat (printf "%d" $weekend.Month) }}
            {{- else -}}
            {{- $weekstart | time.Format "2. January" }}
            -
            {{ (add $weekstart.Unix 388800) | time.AsTime | time.Format "2. January" }}
            {{- end -}}
        </span>
        <br />
        {{- range $index,$link := $week.links -}}
            {{- if $index }} · {{ end -}}{{- $link | markdownify -}}
        {{- end -}}
    </li>
  {{ end }}
</ul>
